@import 'scss/variables.scss';

.input-field {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid $brand-grey-light;
    box-shadow: 0;
    color: $brand-blue-dark;
    margin-bottom: 20px;

    &:active,
    &:focus {
        outline: none;
    }
}